<div id="sign_in2">
  <div class="container">
    <div class="row login">
      <div class="span5 left_box">
        <h4>Create your account</h4>
        <div class="perk_box">
          <div class="perk">
            <span class="icos ico1"></span>
            <p>
              <strong>Lorem alteration</strong>
              in some form  injected humour these randomised words .
            </p>
          </div>
          <div class="perk">
            <span class="icos ico2"></span>
            <p>
              <strong>There are many variations</strong>
              of passages of Lorem alteration in some form  injected humour these randomised words.
            </p>
          </div>
          <div class="perk">
            <span class="icos ico3"></span>
            <p>
              <strong>Alteration in some form</strong>
              injected humour these randomised words.
            </p>
          </div>
        </div>
      </div>
      <div class="span6 signin_box">
        <div class="box">
          <h4>Subheading</h4>
          There are many variations of passages of Lorem alteration in some form  injected humour these randomised words.
          <div class="social text-center">
            <a class="btn btn-primary" href="<%= user_omniauth_authorize_path(:facebook) %>">
              <i class="icon-facebook">&nbsp;</i>
              Sign up with Facebook
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>