#sign_in2
  .container
    .row.login
      .span5.left_box
        %h4 Create your account
        .perk_box
          .perk
            %span.icos.ico1
            %p
              %strong Lorem alteration
              in some form  injected humour these randomised words .
          .perk
            %span.icos.ico2
            %p
              %strong There are many variations
              of passages of Lorem alteration in some form  injected humour these randomised words.
          .perk
            %span.icos.ico3
            %p
              %strong Alteration in some form
              injected humour these randomised words.
      .span6.signin_box
        .box
          %h4 Subheading
          There are many variations of passages of Lorem alteration in some form  injected humour these randomised words.
          .social.text-center
            %a.btn.btn-primary{:href => user_omniauth_authorize_path(:facebook)}
              %i.icon-facebook &nbsp;
              Sign up with Facebook