@import 'bootstrap.min'
@import 'font-awesome'

body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  padding-top: 70px
  .navbar-inverse .navbar-inner
    padding: 0 10px
    background: asset-url('dimension.png')
    background-color: #45B29D
    border: 0
    text-shadow: none
    .brand
      color: #fff
      font-weight: bold
      font-size: 15px
      font-family: Lato, sans-serif
    .nav > .active > a.user
      background-color: #45B29D
      line-height: 25px
      &:hover
        background-color: transparent
      .caret
        display: none
      .avatar img
        width: 25px
        border-radius: 3px
        margin-right: 10px
  #visitors
    position: fixed
    left: 0
    top: 45px
    bottom: 0
    width: 150px
    background: #e7e7e7
    ul
      list-style: none
      margin: 0
      li
        padding: 20px
        border-bottom: 1px #ccc solid
        cursor: pointer
        .avatar img
          width: 25px
          border-radius: 3px
          margin-right: 10px
        a
          cursor: pointer
          &:hover
            text-decoration: none
        &.active
          background-color: #6db7b4
          border-color: #6db7b4
          a
            color: #fff
  #messages
    position: fixed
    left: 150px
    top: 45px
    bottom: 0
    width: 250px
    background: #efefef
    border-right: 1px #ccc solid
    ul
      list-style: none
      margin: 0
      li
        padding: 10px
        border-bottom: 1px #ccc solid
        .text
          padding-bottom: 4px
        .timestamp
          color: #999
          font-size: smaller
          .avatar img
            width: 20px
            border-radius: 3px
            margin-right: 5px
            margin-top: -2px
    .send-msg
      position: absolute
      bottom: 60px
      left: 0
      right: 0
      padding: 10px
      margin-bottom: -60px
      background: #fff
      overflow: auto
      textarea
        resize: none
        outline: none
        margin: 0
        width: 100%
        padding: 0
        border: 0
        box-shadow: none
        &:focus
          outline-color: transparent
          outline-style: none



