%footer#footer
  .container
    .row.info
      .col-md-6.residence
        %ul
          %li 307-309 Great North Road
          %li Grey Lynn, AKL 1245, NZ
      .col-md-5.touch
        %ul
          %li
            %strong P.
            + 64 9 360 5466
          %li
            %strong E.
            %a{href: "mailto:contact@godchat.tv"} contact@godchat.tv
    .row.credits
      .col-md-12
        .row.social
          .col-md-12
            %a.facebook{href: "http://www.facebook.com/indigitous"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "http://twitter.com/indigitous"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
        .row.copyright
          .col-md-12
            Copyright ©
            = Time.now.year
            %a{href: "http://www.indigitous.org/", target: "_blank"} Indigitous | Accelerating the Great Commission