%footer#footer
  .container
    .row.info
      .col-md-6.residence
        %ul
          %li 307-309 Great North Road
          %li Grey Lynn, AKL 1245, NZ
      .col-md-5.touch
        %ul
          %li
            %strong P.
            + 64 9 360 5466
          %li
            %strong E.
            %a{href: "mailto:contact@godchat.tv"} contact@godchat.tv
    .row.credits
      .col-md-12
        .row.social
          .col-md-12
            %a.facebook{href: "https://www.facebook.com/slnz.co"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "https://twitter.com/nzstudentlife"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{href: "https://plus.google.com/107547916731105171676/"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
            %a.flickr{href: "http://www.flickr.com/photos/studentlifenz/"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
        .row.copyright
          .col-md-12
            Copyright ©
            = Time.now.year
            %a{href: "http://www.indigitous.org/"} Indigitous | Accelerating the Great Commission