%footer#footer
  .container
    .row.info
      .span6.residence
        %ul
          %li 307-309 Great North Road
          %li Grey Lynn, AKL 1245, NZ
      .span5.touch
        %ul
          %li
            %strong P.
            + 64 9 360 5466
          %li
            %strong E.
            %a{:href => "mailto:creative@studentlife.org.nz"} creative@slnz.co
    .row.credits
      .span12
        .row.social
          .span12
            %a.facebook{:href => "https://www.facebook.com/slnz.co"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "https://twitter.com/nzstudentlife"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{:href => "https://plus.google.com/107547916731105171676/"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
            %a.flickr{:href => "http://www.flickr.com/photos/studentlifenz/"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
        .row.copyright
          .span12
            Copyright &copy;
            = Time.now.year
            %a{:href => "http://creative.studentlife.org.nz"} Student Life Creative Media.
            All rights reserved.