.navbar.navbar-default{:class => ( if current_page?(unauthenticated_root_path) then "transparent navbar-fixed-top" else "navbar-static-top" end )}
  .row.colors
    .col-md-3
    .col-md-3
    .col-md-3
    .col-md-3
  .container
    .navbar-header
      %a.navbar-brand{href: unauthenticated_root_path}
        %strong 
          %i.icon-leaf &nbsp;
          GODCHAT
      %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        %span.glyphicon.glyphicon-bar
        %span.glyphicon.glyphicon-bar
        %span.glyphicon.glyphicon-bar
    .container
      .navbar-collapse.collapse
        %ul.nav.pull-right.navbar-nav
          %li{:class => ( "active" if current_page?(unauthenticated_root_path) )}
            %a{:href => unauthenticated_root_path} Home
          %li
            %a{href: "about-us.html"} Features
          %li
            %a{href: "contact.html"} Support
            - if current_user.blank?
              %li{:class => ( "active" if current_page?(new_user_registration_path) )}
                %a.btn-header{:href => new_user_registration_path} Sign up
              %li{:class => ( "active" if current_page?(new_user_session_path) )}
                %a.btn-header{:href => new_user_session_path} Sign in
            - else
              %li
                = link_to("Sign out", destroy_user_session_path, :method => :delete)