.box
  #player
#chat
  %h1.special #FallingPlates
  #willyoufollow
    .panel.panel-default
      .panel-heading
        %small.text-muted Jesus Asks
        %br/ 
        Will you follow Me?
      .panel-body
        .btn.btn-danger.btn-block No
        .btn.btn-danger.btn-block I follow another religion
        .btn.btn-warning.btn-block I am not sure
        .btn.btn-info.btn-block I want to start
        .btn.btn-success.btn-block I am trying
        .btn.btn-success.btn-block I am following you