.section_header
  .container
    %h3
      Features
#features.features_page
  .container
    .feature_wrapper.option1
      .row.subtitle
        %h2
          There are many variations of passages of available, but the majority have suffered alteration in some on form, by injected humour, or randomised words which look even slightly believable.
      .row.feature
        .col-sm-6
          %img.img-responsive{src: asset_url("showcase1.png")}/
        .col-sm-6.info
          %h3
            Beautiful on all devices
          %p
            There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
      .row.feature.last
        .col-sm-6.pic-right
          %img.pull-right.img-responsive{src: asset_url("showcase2.png")}/
        .col-sm-6.info.info-left
          %h3
            Blog page included
          %p
            There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
    / Feature Wrapper
    .row.text-center.signup_follow
      .col-md-12
        .row.text-center
          .col-md-4.col-md-offset-4.bg-white
            %a.btn-lg.btn-cyan.btn-block{href: new_user_registration_path} Sign up for free
        %h5 No credit card required
    .feature_wrapper.option2
      / Features Row
      .row
        / Feature
        .col-sm-6.feature
          .box
            %i.icon-shield
          .text
            %h6 Desktop publishing packages
            %p
              There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
        / Feature
        .col-sm-6.feature.right
          .box
            %i.icon-wrench
          .text
            %h6 Desktop publishing packages
            %p
              There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
      / Features Row
      .row.last
        / Feature
        .col-sm-6.feature
          .box
            %i.icon-tags
          .text
            %h6 Desktop publishing packages
            %p
              There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
        / Feature
        .col-sm-6.feature.right
          .box
            %i.icon-sitemap
          .text
            %h6 Desktop publishing packages
            %p
              There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.
    .row.text-center.signup_follow
      .col-md-12
        .row.text-center
          .col-md-4.col-md-offset-4.bg-white
            %a.btn-lg.btn-cyan.btn-block{href: new_user_registration_path} Sign up for free
        %h5 No credit card required
    / Feature Wrapper
    .feature_wrapper.option3
      / Features Row
      .row
        / Feature
        .col-sm-4
          .feature
            .img
              %i.icon-comments
            .text
              %h6 Plan
              %p
                There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
        / Feature
        .col-sm-4
          .feature
            .img
              %i.icon-signal
            .text
              %h6 Design
              %p
                There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
        / Feature
        .col-sm-4
          .feature.last
            .img
              %i.icon-shield
            .text
              %h6 Develop
              %p
                There are many variations passages generators on the  embarrassing hidden in randomised words which don't look even slightly distracted content here making it look like.
    .row.text-center.signup_follow
      .col-md-12
        .row.text-center
          .col-md-4.col-md-offset-4.bg-white
            %a.btn-lg.btn-cyan.btn-block{href: new_user_registration_path} Sign up for free
        %h5 No credit card required