.hero.text-center
  .container
    %h1 From Decisions to Disciples.
    %h4 Use your digital leverage to empower people to reach the world.
    .row
      .col-md-4.col-md-offset-4
        %a.btn-lg.btn-success.btn-block{href: new_user_registration_path} Sign up for free
    %h5 No credit card required
#features
  .container
    .row.feature.text-center.index-heading
      %h2 Turn your content into connection opportunities.
      %p.lead Godchat is designed to help reach your visitors for Christ.
    .row.feature
      .col-md-6
        %img.img-responsive{src: asset_path("showcase1.png")}/
      .col-md-6.info
        %h2 Fast
        %p
          There is a small window where your viewers are open to being challenged
          to connect with the gospel. Godchat primes the viewer that chat is active and ready.
          During their visit Godchat has text typed on screen
          visually inviting the viewer to conversation at the peak of their interest.
    .row.feature.ss
      .col-md-6.info
        %h2 Smart
        %p
          Godchat makes use of important viewer metrics like name, location, IP address,
          Facebook profile and graph info (friends in common with our network).
          This allows us to connect local people with similar interests to discuss faith and growth opportunities.
      .col-md-6
        %img.pull-right.img-responsive{src: asset_path("showcase2.png")}/
    .row.feature.ss
      .col-md-6
        %img.img-responsive{src: asset_path("showcase3.png")}/
      .col-md-6.info
        %h2 Personal
        %p
          Relationship is hands down the key to stimulating and facilitating Christian growth. Godchat makes use of this fact by primarily targeting a visitor's Christian friends, allowing the user to identify one they know and trust to become part of an active session in a unique environment that has resources on hand and an interactive space to see discussion, reconnection and a plan for growth presented.
    .row.text-center.signup_follow
      .col-md-12
        .row.text-center
          .col-md-4.col-md-offset-4.bg-white
            %a.btn-lg.btn-cyan.btn-block{href: new_user_registration_path} Sign up for free
        %h5 No credit card required
-#
  #in_pricing
    .container
      .section_header
        %h3 Pricing
      .row.charts_wrapp
        / Plan Box
        .col-md-4
          .plan
            .wrapper
              %h3 Lite
              .price
                %span.dollar $
                %span.qty 10
                %span.month /month
              .features
                %p
                  %strong 5
                  Websites
                %p
                  %strong 10
                  Team Members
                %p
                  %strong 10
                  Storage
              %a.order{href: "pricing.html"} ORDER NOW
        / Plan Box
        .col-md-4.pro
          .plan
            .wrapper
              %img.ribbon.img-responsive{src: asset_path("badge.png")}
              %h3 Contributor
              .price
                %span.dollar
                %span.qty Free
                %span.month /month
              .features
                %p
                  %strong Unlimited
                  Websites
                %p
                  %strong Unlimited
                  Team Members
                %p
                  %strong
                  Storage
              %a.order{:href => "pricing.html"} ORDER NOW
        / Plan Box
        .col-md-4.standard
          .plan
            .wrapper
              %h3 Standard
              .price
                %span.dollar $
                %span.qty 65
                %span.month /month
              .features
                %p
                  %strong 10
                  Shared Projects
                %p
                  %strong 4
                  Team Members
                %p
                  %strong 10
                  Storage
                %p
                  %strong Plus
                  Phone Support
              %a.order{href: "pricing.html"} ORDER NOW
      .start
        %p Start your free, no-risk, 14 day trial!
        %a{href: "pricing.html"} Start Now!
-#
  #clients
    .container
      .section_header
        %h3 Clients
      .row
        .col-md-2.client
          .img.client1
        .col-md-2.client
          .img.client2
        .col-md-2.client
          .img.client3
        .col-md-2.client
          .img.client1
        .col-md-2.client
          .img.client2
        .col-md-2.client
          .img.client3