.hero.text-center
  .container
    %h1 From Decisions to Disciples.
    %h4 Godchat allows crowd sourcing of missionaries. Everyone is a missionary.
    .row
      .col-md-4.col-md-offset-4
        %a.btn-lg.btn-success.btn-block{href: new_user_registration_path} Sign up for free
    %h5 
#features
  .container
    .row.feature.text-center.index-heading
      %h2 Turn your content into connection opportunities.
      %p.lead
        The advent of online ministry has blurred traditional structures of discipleship. Viewers simply finding Christian material does not automatically lead to disciples. In todays digital age, we need a platform to bring people from online connection, into community and follow-up
        %strong based around relationship.
    .row.feature
      .col-md-12.flex-video.widescreen
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/il7vj0BB-ww?modestbranding=1", width: "420"}
    .row.text-center.signup_follow
      .col-md-12
        .row.text-center
          .col-md-4.col-md-offset-4.bg-white
            %a.btn-lg.btn-cyan.btn-block{href: new_user_registration_path} Sign up for free
        %h5 
-#
  #in_pricing
    .container
      .section_header
        %h3 Pricing
      .row.charts_wrapp
        / Plan Box
        .col-md-4
          .plan
            .wrapper
              %h3 Lite
              .price
                %span.dollar $
                %span.qty 10
                %span.month /month
              .features
                %p
                  %strong 5
                  Websites
                %p
                  %strong 10
                  Team Members
                %p
                  %strong 10
                  Storage
              %a.order{href: "pricing.html"} ORDER NOW
        / Plan Box
        .col-md-4.pro
          .plan
            .wrapper
              %img.ribbon.img-responsive{src: asset_path("badge.png")}
              %h3 Contributor
              .price
                %span.dollar
                %span.qty Free
                %span.month /month
              .features
                %p
                  %strong Unlimited
                  Websites
                %p
                  %strong Unlimited
                  Team Members
                %p
                  %strong
                  Storage
              %a.order{:href => "pricing.html"} ORDER NOW
        / Plan Box
        .col-md-4.standard
          .plan
            .wrapper
              %h3 Standard
              .price
                %span.dollar $
                %span.qty 65
                %span.month /month
              .features
                %p
                  %strong 10
                  Shared Projects
                %p
                  %strong 4
                  Team Members
                %p
                  %strong 10
                  Storage
                %p
                  %strong Plus
                  Phone Support
              %a.order{href: "pricing.html"} ORDER NOW
      .start
        %p Start your free, no-risk, 14 day trial!
        %a{href: "pricing.html"} Start Now!
-#
  #clients
    .container
      .section_header
        %h3 Clients
      .row
        .col-md-2.client
          .img.client1
        .col-md-2.client
          .img.client2
        .col-md-2.client
          .img.client3
        .col-md-2.client
          .img.client1
        .col-md-2.client
          .img.client2
        .col-md-2.client
          .img.client3