.invite
  Hey! After the video, stick around because I want to chat...
.box
  #player
#chat
  %h1.special #FallingPlates
  #willyoufollow
    .panel.panel-default
      .panel-heading
        %small.text-muted Jesus Asks
        %br/ 
        Will you follow me?
      .panel-body
        .btn.btn-danger.btn-block.disabled No
        .btn.btn-danger.btn-block.disabled I follow another religion
        .btn.btn-warning.btn-block.disabled I am not sure
        .btn.btn-info.btn-block{onClick: "tour.showNextStep('#willyoufollow', '#myfriends', 1, 2)"} I want to start
        .btn.btn-success.btn-block.disabled I am trying
        .btn.btn-success.btn-block.disabled I am following you

  #myfriends
    .panel.panel-default
      .panel-heading
        %p.lead.name_box
          Hey &nbsp;
          %span.name>
          \.
        %p That's great you want to start to follow Jesus. Sometimes, it's easier to start something new when a friend is involved.
        %p Would you like to invite a friend to chat or would you rather talk with someone we know?
      .panel-body
        .btn.btn-primary.btn-block{onClick: "tour.showNextStep('#myfriends', '#linkafriend', 2, 3)"} Invite a Christian friend
        .btn.btn-primary.btn-block{onClick: "tour.showNextStep('#myfriends', '#opconnect', 2, 4)"} Find someone for me
  #linkafriend
    .panel.panel-default
      .panel-heading
        %p.lead You can invite your friend by sharing the link below with them via Facebook.
        %h5.text-center
          %a{:href => "#"}http://godchat.tv/u/06dEQ
      .panel-body
        %p.new-article While you wait why not look through the article “Starting with God”, I have just loaded it into the media box to the left.
        %p.old-article While we wait for your friend, you can keep reading the "Starting with God" article.
        .btn.btn-default.btn-sm.btn-block{onClick: "tour.showNextStep('#linkafriend', '#opconnect', 3, 4)"} Find someone for me instead
  #opconnect
    .panel.panel-default
      .panel-heading
        %p.lead
          I'm busy searching for someone to chat with you.
        %p This will likely take between 1-3 minutes so hang in there.
      .panel-body
        %p.new-article While you wait why not look through the article “Starting with God”, I have just loaded it into the media box to the left.
        %p.old-article While I look for someone to chat with, you can keep reading the "Starting with God" article.
        .text-right
          %i.icon-spinner.icon-spin