@import 'twitter/bootstrap'
@import 'font-awesome'
@import 'lib/bootstrap-overrides'
@import 'lib/animate'
@import 'lib/flexslider'
@import 'lib/isotope'
@import 'lib/theme'
@import 'lib/index'
@import 'lib/sign-in'

body
  padding-top: 80px
  a
    color: #45B29D
    &:hover
      color: #5cd6b5
  h1, h2, h3, h4, h5
    font-weight: 300
    color: #45B29D
  .navbar-inverse .navbar-nav > .active > a
    background-color: transparent
    &:hover
      background-color: transparent
  .navbar-inverse
    background-color: #45B29D
    border: 0
    color: white
    padding: 14px 0
    .navbar-nav
      li
        &.navbar-text
          color: #fff
          opacity: 0.5
          font-weight: bold
          line-height: 20px
          margin: 0
          padding: 15px
          font-size: 16px
        &.no-space
          padding-left: 0
          margin-left: -5px
        .btn-success
          background-color: #5CD6B5
          padding: 10px 15px
          margin: 5px 0
        a
          font-size: 16px
          margin: 0
          opacity: 0.8
          text-shadow: none
  .hero
    min-height: 340px
    background-color: #45B29D
    padding-top: 4em
    padding-bottom: 6em
    color: #fff
    h1
      color: #fff
      font-weight: 400
    h4
      color: #fff
      opacity: 0.6
      margin-bottom: 50px
    h5
      color: #fff
      opacity: 0.6
    .btn-success
      background-color: #5CD6B5

  .navbar-brand strong
    color: #fff
    .text-muted
      color: #fff
      opacity: 0.4
  .colors
    margin-top: -1px
    .col-md-3
      height: 6px
      border-top: 1px solid
      &:nth-child(2)
        background-color: #3c9217
        border-top-color: #337b15
      &:nth-child(3)
        background-color: #f9ab46
        border-top-color: #d3933c
      &:first-child
        background-color: #da4c3e
        border-top-color: #bb4134
      &:last-child
        background-color: #7190c6
        border-top-color: #607ba8