.invite
  Hey! After the video, stick around because I want to chat...
.box
  #player
#chat
  %h1.special #FallingPlates
  #willyoufollow
    .panel.panel-default
      .panel-heading
        %small.text-muted Jesus Asks
        %br/ 
        Will you follow me?
      .panel-body
        .btn.btn-danger.btn-block.disabled No
        .btn.btn-danger.btn-block.disabled I follow another religion
        .btn.btn-warning.btn-block.disabled I am not sure
        #start-btn.btn.btn-info.btn-block{onClick: "$('#willyoufollow').hide();$('#myfriends').fadeIn();"} I want to start
        .btn.btn-success.btn-block.disabled I am trying
        .btn.btn-success.btn-block.disabled I am following you

  #myfriends
    .panel.panel-default
      .panel-heading
        %p.lead.name_box
          Hey &nbsp;
          %span.name>
          \.
        %p That's great you want to start to follow Jesus. Sometimes, it's easier to start something new when a friend is involved.
        -#%p Would you like to invite a friend to chat or would you rather talk with someone we know?
      .panel-body
        #friends
          %p#connect_link{style: 'display:none'}
            = link_to("Connect to Facebook and we'll find one of your friends for you to chat with", '#', onclick: 'FB.login($.godchat.getFacebookId())')

        .other_connections
          %h3
            Otherwise:
          #invite-btn.btn.btn-primary.btn-block{onClick: "$('#myfriends').hide();$('#linkafriend').fadeIn();"} Invite a Christian friend
          -#.btn.btn-primary.btn-block{onClick: "$('#myfriends').hide();$('#opconnect').fadeIn();"} Find someone for me
  #linkafriend
    .panel.panel-default
      .panel-heading
        %p.lead You can invite your friend by sharing the link below with them via Facebook.
        %input.form-control#link{value: "http://godchat.tv/u/06dEQ", onClick: "this.select();", readonly: "readonly"}/
      .panel-body
        %p.new-article While you wait why not look through the article “Starting with God”, I have just loaded it into the media box to the left.
        %p.old-article While we wait for your friend, you can keep reading the "Starting with God" article.
        %a#findsomeone-btn.btn.btn-default.btn-sm.btn-block{onClick: "$('#linkafriend').hide();'#opconnect').fadeIn();"} Find someone for me instead
  #opconnect
    .panel.panel-default
      .panel-heading
        %p.lead
          I'm busy searching for someone to chat with you.
      .panel-body
        %p.new-article While you wait why not look through the article “Starting with God”, I have just loaded it into the media box to the left.
        %p.old-article While I look for someone to chat with, you can keep reading the "Starting with God" article.
        .text-right
          %i.icon-spinner.icon-spin
  #chatbox
    %h1.special #FallingPlates Chat
    %ul.conversation 
      %li
        .message.text-right Hey, how are you?
        .timestamp.pull-right Just now
        .person Robert
      %li
        .message Great. How do I get started?
        .timestamp.pull-right Just now
        .person You

    %input.form-control.chat-input{:type => "text", placeholder: "Message..."}/ 
