%nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
  .container
    .navbar-text.pull-right
      [
      %a{href:"#", onClick:"script: Zenbox.show(); return false;"}Support
      ]
    .navbar-text
      ©
      %a{:href => "http://www.cru.org"} Cru
      = DateTime.now.strftime("%Y")