%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-header.navbar-right
      %ul.nav.navbar-nav
        %li{:class=>("active" if params[:controller] == "dashboard/settings")}
          %a{:href => "/dashboard/settings"}
            = current_user.name
        %li
          -#= link_to("Sign out", destroy_user_session_path, "data-method" => :delete)
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.nav-icon{:class=>("active" if request.env['PATH_INFO'] == engineer_root_path) }
          %a{:href => engineer_root_path}
            %i.icon-comments-alt
        %li.nav-icon{:class=>("active" if request.env['PATH_INFO'] == engineer_campaigns_path) }
          %a{:href => engineer_campaigns_path}
            %span
              Campaigns
              - unless @campaign.nil?
                = @campaign.name
        %li.nav-icon{:class=>("active" if request.env['PATH_INFO'] == engineer_organizations_path) }
          %a{:href => engineer_organizations_path}
            %span
              Organizations
        - if current_user.try(:admin?)
          %li.nav-icon
            %a{:href => admin_dashboard_path}
              Admin