%footer#footer
  .container
    .row.info
      .col-md-6.residence
        %ul
          %li 100 Lake Hart Drive; Dept 2100 
          %li Orlando FL 32832
      .col-md-5.touch
        %ul.pull-right
          %li
            %strong E:
            %a{href: "mailto:contact@godchat.tv"} contact@godchat.tv
    .row.credits
      .col-md-12
        .row.social
          .col-md-12
            %a.facebook{href: "http://www.facebook.com/indigitous"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "http://twitter.com/indigitous"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
        .row.copyright
          .col-md-12
            %p 
              %a{href: "http://www.indigitous.org/", target: "_blank"}
                %img{:src => asset_url('logo.png'), :alt => "Indigitous"}/ 
            Accelerating the Great Commission | Copyright ©
            = Time.now.year