.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: root_path}
        %strong 
          %i.icon-comments-alt &nbsp;
          Godchat
          %span.text-muted Beta
      %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        %span.glyphicon.glyphicon-bar
        %span.glyphicon.glyphicon-bar
        %span.glyphicon.glyphicon-bar
    .container
      .navbar-collapse.collapse
        %ul.nav.pull-right.navbar-nav
          %li{:class => ( "active" if current_page?(root_path) )}
            %a{:href => root_path} Home
          %li
            %a{href: features_path} Features
          %li
            %a{href: tour_path} Tour
          %li
            %a{href: "http://support.godchat.tv/"} Support
          %li.navbar-text
            |
          - if current_user.blank?
            %li
              %a{:href => user_omniauth_authorize_path(:facebook)}
                Sign in
            %li.navbar-text.no-space
              or
            %li{:class => ( "active" if current_page?(new_user_registration_path) )}
              %a.btn.btn-success.navbar-btn{:href => new_user_registration_path} Sign up
          - else
            %li
              %a{:href => operators_path} Dashboard
            %li.navbar-text
              |
            %li
              =# link_to("Sign out", destroy_user_session_path, :method => :delete)