- content_for :masthead do
  .pull-right.operations
    %a.btn.btn-primary{href: new_engineer_organization_path}
      %i.icon-bolt &nbsp;
      New Organization
  %h2 Organizations
  %p Organization Library